label {
    font-weight: bold;
  }
.row{
  margin-bottom: 10px;
}
.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border: 0.15em solid rgba(255, 255, 255, 0.3);
  border-right-color: white; /* Customize color */
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}